name: receipt_parser
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0+2
  google_mlkit_text_recognition: ^0.15.0
  google_fonts: ^6.2.1
  path: ^1.9.0
  path_provider: ^2.1.3
  sqflite: ^2.3.3



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
